/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {


  font-weight: 600;
  padding-top: 3rem;
  padding-bottom: 3rem;

}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}

/* rtl:begin:ignore */
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}

/* rtl:end:ignore */

.dark-mode {

  background-color: black;
  color: white;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0;
  /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
/* rtl:begin:remove */
.featurette-heading {
  letter-spacing: -.05rem;
}

/* rtl:end:remove */

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

.p-3 p {
  font-weight: 600;

}

.p-3 img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 0px 13px 0px #00000040
}

.p-3 button span {
  text-align: left;
}

.col-md-5 img {
  border-radius: 10px;
  box-shadow: 0px 0px 13px 0px #00000040
}

.rounded-circle {
  box-shadow: 0px 0px 13px 0px #00000040
}

.btn {

  max-width: 587px;
  text-align: center;
  font-size: 16px;
  line-height: 40px;
  padding: 0 15px;
  font-weight: 600;
  border-radius: 8px;
  color: #fff;
  transition-duration: 0.4s;
  

}

.btn:hover {
  background-color: #4CAF50;

  border: 1px solid #4CAF50;
}
.price {


  color: #00000099;
  margin-bottom: 10px;

}

.modal-body {
  font-weight: 600;


}

td {
  margin-right: 5px;
}

img {

  transition: transform .2s;

}

img:hover,
img:focus {
  -ms-transform: scale(1.15);
  /* IE 9 */
  -webkit-transform: scale(1.15);
  /* Safari 3-8 */
  transform: scale(1.13);
}

.p-3 img {
  margin-bottom: 30px;
}

header {
  margin-bottom: 15px;
}

a {

  text-decoration: none;
  color: #191919;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
  font-size:large;
}

a:hover,
a:focus {
  color: #ea8025;

}

.navbar {
  border-bottom: 1px solid #00000026;
  background: rgba(255, 255, 255, 0.8);

}

.nav-item {
  padding: 10px 50px 10px;
}


@font-face {
  font-family: 'Rocher';
  src: url(https://assets.codepen.io/9632/RocherColorGX.woff2);
}

.nav-item-text{
  font-family: 'Rocher';
  text-align: center;
  font-size: 20px;
  display: flex;
  flex-direction: column;
 
}

h1 {
  margin: 0;
}


